# Build products and local profiling / testing artifacts
/_build/
/_bench*/
/ERROR/
/TRACE/
/gamedata/
/compressor/
**/.vs/
**/intermediate/
**/x64.old/
*.obj
*.pch
*.ipch
*.pdb
*.ilk
*.exp
*.exe
*.dll
*.lib
*.log
*.etl
*.dmp
*.tlog
*.lastbuildstate
*.user
*.suo
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
*.db-shm
*.db-wal
*.tmp
*.bak
__pycache__/
node_modules/
.env
.env.*

# Required vendor libraries; engine libraries are built from source.
!/sdk/libraries/x64/*.lib
!/src/3rd party/stackwalker/lib/StackWalker.lib

# LuaJIT generates these during the first build.
/src/3rd party/luajit-2/src/lj_bcdef.h
/src/3rd party/luajit-2/src/lj_ffdef.h
/src/3rd party/luajit-2/src/lj_folddef.h
/src/3rd party/luajit-2/src/lj_libdef.h
/src/3rd party/luajit-2/src/lj_recdef.h
/src/3rd party/luajit-2/src/host/buildvm_arch.h
/src/3rd party/luajit-2/src/jit/vmdef.lua
